{% extends 'index.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-opacity-75 navbar-custom">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">GLOBAL DIVE EXPEDITIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">ADVENTURE COUPLE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/destinations">DESTINATIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/contact">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>

<footer class="bg-dark bg-opacity-75">
    <a href="http://www.linkedin.com/in/seetheworld" target="_blank" class="linkedin">
        <img src="/static/img/linkedin-svgrepo-com.svg" alt="Carin's LinkedIn" style="width: 40px; height: 40px;">
    </a>
    <a href="http://www.linkedin.com/in/ridlon" target="_blank" class="linkedin">
        <img src="/static/img/linkedin-svgrepo-com.svg" alt="Ridlon's LinkedIn" style="width: 40px; height: 40px;">
    </a>
</footer>

{% endblock %}